<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        <style>
        .products {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            table-layout: fixed;
            width: 800px;

        }
        .table-header-row {
            background-color: powderblue;
            border: 1px solid #000;
            font-size: 16px;
            font-weight: bold;
            display:table;
            table-layout: fixed;
            width:100%;
        }
        .table-header-item {
            padding: 5px;
            border: 1px dashed #ccc;
        }
        .table-nav-row {
            background-color: #ddd;
            border: 1px solid #000;
            font-size: 16px;
            font-weight: bold;
            display:table;
            table-layout: fixed;
            width:100%;
        }
        .table-nav-item {
            padding: 5px;
            border: 1px dashed #ccc;
        }
        .table-row:nth-child(even){background-color: #f2f2f2;}
        .table-row {
            background-color: powderblue;
            border: 1px solid #000;
            font-size: 14px;
            display:table;
            table-layout: fixed;
            width:100%;
        }
        .table-item {
            padding: 5px;
            border: 1px dashed #ccc;
        }
        </style>
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
